<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.max_fetch_depth">3</property>
<!-- managed -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.current_session_context_class">thread</property> -->
		<!-- 以下設置物件與資料庫表格映射文件 -->
		
		<mapping class="com.model.Product" />
		<mapping class="com.model.ProductPK" />
		<mapping class="com.model.Userinfo" />
		<mapping class="com.model.UserinfoPK" />
		
	</session-factory>
</hibernate-configuration>