# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
FarmProject/src/com/model/TAOrg.java
FarmProject/target/
FarmProject/WebContent/META-INF/context.xml
FarmProject/WebContent/WEB-INF/config/cxf-beans.xml
FarmProject/WebContent/WEB-INF/config/spring-init-config.xml
FarmProject/target/*
FarmProject/out/*
.idea/*

FarmProject/target/classes/com/it/dao/HibernateDAO.class
FarmProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
FarmProject/target/m2e-wtp/web-resources/META-INF/maven/FarmProject/FarmProject/pom.xml
FarmProject/target/m2e-wtp/web-resources/META-INF/maven/FarmProject/FarmProject/pom.properties
FarmProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
FarmProject/target/classes/com/it/dao/HibernateDAO.class
FarmProject/target/classes/com/it/servlet/AsyncRequest.class
FarmProject/target/classes/com/it/utils/ClassReflectionUtil.class
FarmProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
FarmProject/target/m2e-wtp/web-resources/META-INF/maven/FarmProject/FarmProject/pom.properties
